<div *ngIf="loading; else todosSection" class="container">Task Loading...</div>
<div>
  <ng-template #todosSection>
    <div class="d-flex justify-content-center mt-5">
      <ul>
        <li *ngFor="let todo of todos" class="fs-5">
          {{ todo }}
          <button
            (click)="markCompleted(todo)"
            class="btn bg-primary rounded-pill p-1 text-white"
          >
            Complete
          </button>
        </li>
      </ul>
    </div>
    <div class="text-center mt-5">
      <div *ngIf="todos.length === 0" class="mb-3">
        OOOPS there are no tasks
      </div>
      <label for="todo">Todo:</label>
      <input
        type="text"
        id="todo"
        [(ngModel)]="todo"
        class="ms-3 border-2"
        placeholder="Type Here"
      />
      <button
        (click)="addTodo()"
        class="ms-3 btn bg-primary rounded-pill text-white"
      >
        Add Todo
      </button>
    </div>
  </ng-template>
</div>
