body {
    font-family: 'Arial', sans-serif;
}

.todos-container {
    max-width: 400px;
    margin: 20px auto;
}


.todo-item {
    display: flex;
    justify-content: space-between;
    border:  1px solid #ccc;
    padding: 8px;
    margin:  8px 0;
}

.add-todo {
    margin-top: 16px;
}

input {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px;
}